.header-nav {
  background-color: white;
  text-align: center;
  padding: 10px;
}

.header-nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.header-nav ul li {
  display: inline-block;
}

.header-nav ul li .nav-btn {
  text-decoration: none;
  color: black;
  margin: 0px 20px;
  font-size: 17px;
}

.header-nav ul li .nav-btn:hover {
  color: #1877f2;
}
